.NavbarItems {
  background:  linear-gradient(100deg, rgb(41, 39, 39) , rgb(49, 43, 43));
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: azure;
  text-decoration: none;
  font-size: 35px;
}
.navbar-logo:hover {
  color: rgb(253, 114, 33);
  text-shadow: 1px 1px 2px #000000;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.nav-menu {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  text-align: center;
  width: 70vw;
  justify-content: right;
  margin-right: 2rem;
}

.nav-links {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  float: left;
}

.nav-links:hover {
  color: rgb(253, 114, 33);
  border-radius: 50px;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

.fa-bars, .fa-times {
  color: azure;
  padding: 20px;
}
.fa-bars:hover,.fa-times:hover {
  color: rgb(201, 223, 223);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 62px;
    left: -100%;
    transition: all 0.5s ease;
    border-radius: 20px;
  }

  .nav-menu.active {
    background: linear-gradient(100deg, rgb(39, 38, 39), #5a5858 125%);
    left: 0;
    transition: all 0.5 ease;
    z-index: 1;
    box-shadow: 20px;
  }
  .nav-links {
    padding: 2rem;
    width: 100%;
  }
  .navbar-logo:hover {
    color: rgb(253, 114, 33);
    text-shadow: 1px 1px 2px #000000;
    transition: all 0.2s ease-out;
    transform: scale(1.1);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100% 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-bars:hover {
    color: rgb(253, 114, 33);
    font-size: 2rem;
  }
  .fa-times:hover {
    color: rgb(253, 114, 33);
    font-size: 2rem;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #000;
    text-decoration: none;
    color: azure;
    font-size: 1.5rem;
  }
}
