/* font-family: 'Oswald', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: black;
  color: azure;
  font-family: "Oswald", sans-serif;
  margin: 0px;
}


